{% load static %}

<!-- Header Start -->
<header id="header">
  <div class="main-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="    display: flex!important;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;">
          <div class="logo">
            <figure>
              <a href="{% url 'pages:home' %}" class="light-logo"><img src="{% static 'extra-images/main-logo.png' %}" alt="FoodBakery" /></a>
            </figure>
          </div>

          <div class="main-location center">
            <ul>
              <li class="location-has-children choose-location">
                <form action="{% url 'pages:search' %}">
                  <input type="text" value="" name="q" placeholder="Enter your Food Or Restaurant" autocomplete="off" />
                </form>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

          <div class="login-option">
            <a href="{% url 'cart' %}" style="margin-right: 10px;">
              <i class="fa fa-shopping-cart text-danger" style="font-size: 20px; vertical-align: middle;"></i>
              <span class="badge badge-warning " id="counter-item" style="border-radius: 50px; position: relative; bottom: 10px; left: -5px; font-size: 13px;">{{cart.total}}</span>
            </a>
            <a class="btn btn-outline-danger text-uppercase font-weight-bold" href="{% url 'vendor_list' %}">MarketPlace</a>
            {% if request.user.is_authenticated %}

              <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'profile_dispatcher' %}">My Account</a>
              <a class="cs-color cs-popup-joinus-btn login-popup btn-sm btn-danger" href="{% url 'logout' %}">Logou</a>

            {% else %}
              <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'send_otp' %}">Login / Register</a>

              <a class="get-start-btn" href="{% url 'vendor_register' %}">Register Restaurant</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->
